/* h2{
    color: lime;
    background-color: black;
}

small{
    color: blue;
}

p{
    background-color: yellow;
}

#lorem-text{
    background-color: aqua;
} */

.text-type{
    background-color: brown;
    color: white;
}
