body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .box1 {
    padding: 3% 2% 3% 2%;
    background-color: #282828;
    color: #e0ecf7;
    border: 1px dotted;
    display: flex;
    flex-direction: column;
    height: 228.5px;
    width: 340px;
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    position: fixed;
  }

  .box2{
    padding: 3% 4%;
    background-color: #AF8354;
    color: dimgray;
    border: 2px dotted black;
    height: 260px;
    width: 335px;
    position: relative; 
  }

  .box3{
    background-color: #e0ecf7;
    color: dimgrey;
    border: 2px solid black;
    height: 170px;
    width: 310px;
    position: relative;
  }
