.container{
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 50px 50px;
    gap: 20px;
    grid-template-areas: "header header" "sidebar main" "footer footer";
}

.item{
    border: 2px solid red;
}

.header{
    grid-area: header;
    background-color: red;
}

.main{
    grid-area: main;
    background-color: yellow;
}

.sidebar{
    grid-area: sidebar;
    background-color: cyan;
}

.footer{
    grid-area: footer;
    background-color: brown;
}